log:
  level: info
  format: json

serve:
  proxy:
    host: 0.0.0.0
    port: 4456
  api:
    host: 0.0.0.0
    port: 4457

access_rules:
  repositories:
    - file:///etc/config/oathkeeper/rules.yaml

authenticators:
  anonymous:
    enabled: true
  cookie_session:
    enabled: true
    config:
      check_session_url: http://kratos:4434/sessions/whoami
      preserve_path: true
      subject_from: identity.id
      only:
        - ory_kratos_session

authorizers:
  allow:
    enabled: true

errors:
  fallback:
    - json
  handlers:
    json:
      enabled: true
      config:
        verbose: true

mutators:
  noop:
    enabled: true
