apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "portal.fullname" . }}-frontend
  labels:
    app.kubernetes.io/component: frontend
    {{- include "portal.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.frontend.replicaCount }}
  selector:
    matchLabels:
      app.kubernetes.io/component: frontend
      {{- include "portal.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        app.kubernetes.io/component: frontend
        {{- include "portal.selectorLabels" . | nindent 8 }}
    spec:
      {{- if .Values.global.imagePullSecrets }}
      imagePullSecrets:
{{- range .Values.global.imagePullSecrets }}
        - name: {{ . }}
{{- end }}
      {{- end }}
      containers:
        - name: frontend
          image: "{{ .Values.global.imageRegistry }}{{ if .Values.global.imageRegistry }}/{{ end }}{{ .Values.frontend.image }}"
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 3000
              name: http
          {{- if .Values.frontend.env }}
          env:
{{- range $key, $value := .Values.frontend.env }}
            - name: {{ $key }}
              value: {{ tpl $value $ | quote }}
{{- end }}
          {{- end }}
          {{- with .Values.frontend.resources }}
          resources:
            {{- toYaml . | nindent 12 }}
          {{- end }}
---
apiVersion: v1
kind: Service
metadata:
  name: {{ include "portal.fullname" . }}-frontend
  labels:
    {{- include "portal.labels" . | nindent 4 }}
spec:
  type: ClusterIP
  ports:
    - port: 3000
      name: http
  selector:
    app.kubernetes.io/component: frontend
    {{- include "portal.selectorLabels" . | nindent 4 }}
